#title-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 0 1rem 0;
  font-weight: 700;
}

.form-unit {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-unit input {
  padding: .5rem;
  border-radius: .25rem;
  margin-top: .25rem;
  border: 1px solid #2E294E;

  font-family: "Space Grotesk", sans-serif;
}